#hr-titre-h2 {
    width: 400px;
}

#titre-h2 {
    text-align: center;
}

#container-quizz {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

#quizz-1, #quizz-2, #quizz-3 {
    display: flex;
    flex-direction: column;
}

.h3-quizz {
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
}

.vr-accueil {
    width: 1px;
    height: 100%;
    background-color: #000;
}

button {
    background-color: #3B4CCA;
    width: 100px;
    align-self: center;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}