
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #e8e8f0;
        }

        /* Navbar */
        .navbar {
            background-color: #DFDEFF;
            padding: 0;
            display: flex;
            
        }

        .nav-item {
        padding: 15px 25px;
        text-decoration: none;
        color: #000;
        font-size: 20px;
        transition: background-color 0.3s;
        font-family: 'Rajdhani', sans-serif;
        }

        .nav-item:hover {
        background-color: #c0c0d8;
        }

        /* Carrousel */
        .carousel-container {
            position: relative;
            max-width: 100%;
            margin: 30px;
            overflow: hidden;
        }

        .carousel {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel-slide {
            min-width: 100%;
            height: 400px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
        }

        .carousel-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }

        /* Boutons de navigation */
        .carousel-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(255, 255, 255, 0.8);
            border: none;
            font-size: 24px;
            padding: 15px 20px;
            cursor: pointer;
            z-index: 10;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .carousel-btn:hover {
            background-color: rgba(255, 255, 255, 1);
        }

        .carousel-btn.prev {
            left: 10px;
        }

        .carousel-btn.next {
            right: 10px;
        }

#hr-titre-h2 {
    width: 400px;
}

#titre-h2 {
    text-align: center;
}

#container-quizz {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

#quizz-1, #quizz-2, #quizz-3 {
    display: flex;
    flex-direction: column;
}

.h3-quizz {
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
}

.vr-accueil {
    width: 1px;
    height: 100%;
    background-color: #000;
}

button {
    background-color: #3B4CCA;
    width: 100px;
    align-self: center;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}