/* ici on modifira le header et footer - Sert aussi pour mettre les polices */
.main-header {
    background-color: #e57c44;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    border: 2px solid #4294e1;
}

.header-logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #222;
}

.header-nav {
    display: flex;
    gap: 24px;
}

.header-link {
    color: #222;
    text-decoration: none;
    font-family: 'Orbitron', Arial, sans-serif;
    font-size: 18px;
}
